
@{
    ViewBag.Title = "AddBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
@Html.ActionLink("Show Books", "Index", "Book", new { @class = "btn btn-info" })
<hr />

@using (Html.BeginForm("AddBook", "Book", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="form-control">
        @Html.TextBox("book_name", null, new { @class = "form-control" ,placeholder = "name.."})
    </div>
    <div class="form-control">
        @Html.TextBox("book_author", null, new { @class = "form-control", placeholder = "author.." })
    </div>
    <div class="form-control">
        @Html.TextBox("book_ISBN", null, new { @class = "form-control", placeholder = "ISBN.." })
    </div>
    <div class="form-control">
        @Html.TextBox("book_paper", null, new { @class = "form-control", placeholder = "Paper Count.." })
    </div>
    <div class="form-control">
        @Html.TextBox("book_photo", null, new { @class = "form-control", type = "file" })
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>

}


