@model IEnumerable<BookLibrary_2._7._18_.Models.Book>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>ISBN</th>
                <th>Paper</th>
                <th>Photo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.book_name</td>
                    <td>@item.book_author</td>
                    <td>@item.book_ISBN</td>
                    <td>@item.book_paper</td>
                    <td><img src="@item.book_photo" class="img-rounded" style="width:100px; height:100px;" /></td>
                    <td>
                        <a href="~/Book/Delete/@item.id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>

            }


        </tbody>
    </table>
</div>

